---
import { Image } from "astro:assets";
import BlueLogo from "../assets/images/Blue_Strategie.png";
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap"
>
  <Image
    src={BlueLogo}
    alt="Blue Strategie Logo"
    class="h-[1.6em] w-auto object-contain inline-block align-middle"
  />
</span>
