---
import { Image } from "astro:assets";
import BlueLogo from "../assets/images/Blue_Strategie.png";
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 h-full flex items-center gap-3">
  <Image
    src={BlueLogo}
    alt="Blue Strategie Logo"
    class="h-full max-h-14 w-auto object-contain"
  />

  <span
    class="text-base md:text-lg font-semibold text-gray-900 dark:text-white whitespace-nowrap leading-none"
  >
    StrategieAgentur GmbH
  </span>
</span>

